[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=robot
Exec=/usr/bin/invoker --type=d -s /opt/robot/bin/robot
Icon=/usr/share/icons/hicolor/80x80/apps/robot80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
